
@{
    ViewData["Title"] = "BlogListTitleExcel";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Blog Listesinin Excel Dökümü</h1>
<br />
<a href="/Admin/BlogExcel/ExportDynamicExcelBlogList" class="btn btn-info">Excel Olarak İndir</a>

